* {
  margin: 0px;
  padding: 0px;
}
.error {
  margin: 300px 0px 40px 60px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


html,
body {
  overflow-x: hidden;
  width: 100%;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}

.nav {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px #888888;
  margin-bottom: 30px;
}

.nav-logo {
  font-size: 30px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 80px;
}


.nav-items {
  display: flex;
  gap: 30px;
  font-weight: 700;
  margin-left: 20px;
  z-index: 999;
  position: relative;
}

.n-items {
  cursor: pointer;
}

.active {
  border-bottom: 2px solid black;
}

.login {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 50px;
  font-size: 20px;
  align-items: center;
}

.log {
  padding: 7px 20px 9px 20px;
  background-color: rgb(59, 54, 54);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 4;
}

.sign-up {
  border: 2px solid black;
  padding: 5px 10px 6px 10px;
  cursor: pointer;
  z-index: 4;
}


.sideImg {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 40px;

}

#sideImgBg {
  position: relative;
  top: -50px;
  width: 800px;
  margin-right: -80px;
}

#person_img {
  position: absolute;
  z-index: 2;
  top: 80px;
}



.intro {
  margin: 200px;
}

.upper-text {
  font-size: 44px;
  font-weight: 600;
  color: rgb(59, 54, 54);
}

.text-bold-grey {
  font-weight: 900;
  color: black;
}

.para {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-right: 500px;
}

.contact {
  margin-top: 30px;
  display: flex;
}

.con {
  color: white;
  background-color: #3b3636;
  padding: 10px 10px 10px 10px;
  font-weight: 800;
  display: flex;
}

#arrow-icon {
  margin-left: 3px;
  font-weight: 900;
  font-size: 20px;
}

.skills {
  margin-left: 40px;
  height: fit-content;
}


.Skill-heading {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 35px;
}

.my-all-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.all-skills {
  display: flex;
  gap: 30px;
  align-items: center;
}

.box {
  border: 1px solid gray;
  width: 30rem;
  height: 15px;
  border-radius: 20px;
  position: relative;
  z-index: 5;
}

.s-name {
  font-weight: 700;
  font-size: 20px;
}

.box-1 {
  margin-left: 50px;
}

.box-2 {
  margin-left: 70px;
}

.box-3 {
  margin-left: 15px;
}

.box-4 {
  margin-left: 32px;
}

.box-5 {
  margin-left: 44px;
}

.box-6 {
  margin-left: 70px;
}

.box-7 {
  margin-left: 95px;
}

.perc {
  font-weight: 700;
  font-size: 18px;
}

.grey {
  position: absolute;
  top: 0;
  bottom: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(42, 187, 245);
}

@keyframes html {
  from {
    width: 0%;
  }

  to {
    width: 80%;
  }
}

@keyframes css {
  from {
    width: 0%;
  }

  to {
    width: 70%;
  }
}

@keyframes javascript {
  from {
    width: 0%;
  }

  to {
    width: 60%;
  }
}

@keyframes react {
  from {
    width: 0%;
  }

  to {
    width: 50%;
  }
}

@keyframes python {
  from {
    width: 0%;
  }

  to {
    width: 85%;
  }
}

@keyframes cpp {
  from {
    width: 0%;
  }

  to {
    width: 60%;
  }
}

@keyframes c {
  from {
    width: 0%;
  }

  to {
    width: 30%;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 990;
  background-color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  margin-top: 80px;
}

footer p {
  margin: 0;
}

.footer-links {
  list-style: none;
  margin: 25px 0;
  padding: 0;
  display: inline-block;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.nav-items {
  height: fit-content;
}
.nav-links {
  height: fit-content;
}

#ham {
  display: none;
}

.login {
  position: relative;
  
}
@media (min-width: 0px) and (max-width: 1000px) {


  .sticky {
    position: static;

  }

  .login {
    position: absolute;
    z-index: 993;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
    opacity: 0;
  }
  .nav-links {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
    z-index: 992;

  }

  
  .nav-items {
    position: relative;
    background-color: white;
    height: 100vh;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 990;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 26px;
    transform: translateX(100%);
    
  }

  @keyframes go {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes come {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  #ham {
    position: absolute;
    z-index: 999;
    font-size: 40px;
    right: 0;
    top: 30px;
    display: block;
    margin-right: 20px;
  }
}

@media (min-width: 0px) and (max-width: 1230px) {
 .sideImg {
  display: flex;
  justify-content: center;
  position: relative;
 }
 .intro {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 200px 20px;
  align-items: center;
 }
 .para {
  margin-right: 0px;
 }
 #sideImgBg  {
  position: relative;
  margin-right: 0px;

 }
 #person_img {
  position: absolute;
 }
}

@media (min-width:0px ) and (max-width: 894px) {
  #person_img {
    width: 80%;
    top: -20px;
  }
  .skills  {
    margin: 0px 20px 0px 20px;
    z-index: 6;
  }
  .box-1 {
    margin-left: 20px;
  }
  
  .box-2 {
    margin-left: 40px;
  }
  
  .box-3 {
    margin-left: -15px;
  }
  
  .box-4 {
    margin-left: 25px;
  }
  
  .box-5 {
    margin-left: 14px;
  }
  
  .box-6 {
    margin-left: 40px;
  }
  
  .box-7 {
    margin-left: 65px;
  }
}